@charset "UTF-8";
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/media-podcast.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/user.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/user-list.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/dollar.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/key.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/mail.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/repeat.css");
*,
html {
  border-radius: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "cutive-mono", monospace;
}

body {
  background-image: url("./assets/img/chernobyl.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  touch-action: manipulation;
}

hr {
  width: 250px;
  margin: 1px;
  padding: 0;
}

h5 {
  color: white;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.36;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes PUZ-island-quad {
  0% {
    height: 50px;
    width: 50px;
  }
  5% {
    margin-top: 2em;
  }
  10% {
    height: 180px;
    width: 90px;
    margin-top: 5em;
    border-radius: 20%;
    border: 2px solid rgb(77, 77, 77);
  }
  50% {
    margin-top: 10em;
    border-radius: 17%;
  }
  100% {
    height: 240px;
    width: 240px;
    margin-top: 7.9em;
    border-radius: 12%;
  }
}
.custom-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.image-container {
  padding: 30px;
  height: auto;
  width: 35em;
}

.PDA_image {
  height: auto;
  max-height: 90vh;
  max-width: 90%;
  width: auto;
}

.stats-container {
  flex: 1;
  width: 200px;
  padding-top: 30px;
}

.stats {
  display: flex;
  flex-direction: column;
}

.stat {
  display: flex;
}
.stat > h5 {
  margin-right: 1.6em;
  margin-bottom: 0.3em;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid black;
  border-radius: 5px;
}
.profile > .logo {
  mix-blend-mode: darken;
}
.profile #username {
  margin-top: 7px;
  margin-left: 3px;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  width: 200px;
}
.buttons button {
  position: relative;
}

.inventory {
  background-image: url("https://www.schulsachen.de/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/o/x/oxford_heft_din_a4_16_blatt_lineatur_7_7_mm_kariert-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35.98em;
  height: 221px;
}

.logo {
  margin-top: 5px;
  margin-left: 3px;
}

.opt {
  border: 1px solid black;
  border-radius: 5px;
  height: 33px;
  margin-left: 23%;
  align-items: center;
}

.options-param {
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  height: 24px;
  padding: 0 5px 2px 5px;
}
.options-param:first-child {
  margin-right: 10px;
  margin-left: 5px;
}
.options-param:last-child {
  margin-left: 10px;
  margin-right: 5px;
}

.PUZ-island {
  border-radius: 8%;
  background-color: rgb(171, 171, 171);
  position: fixed;
  opacity: 0.6;
  height: 4px;
  width: 215px;
  z-index: 200;
  display: flex;
  margin-top: 0.54em;
  transition: 600ms;
}
.PUZ-island:hover {
  cursor: pointer;
}
.PUZ-island > i {
  visibility: hidden;
  margin-top: -25em;
  filter: brightness(0);
}

.custom-container {
  transition: all 200ms;
}

.PUZ-island_active {
  animation-name: PUZ-island-quad;
  animation-duration: 210ms;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  background-color: rgb(21, 21, 21);
  opacity: 0.9;
}
.PUZ-island_active > i {
  visibility: visible;
  filter: brightness(100);
  margin-top: 1.4em;
  transition: 690ms;
}
.PUZ-island_active ~ .custom-container {
  filter: blur(5px);
  scale: 0.96;
  transition: 700ms;
}
.PUZ-island_active #carousel {
  visibility: visible;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.notifications {
  height: 100%;
  width: 100%;
}

.not {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not p {
  color: whitesmoke;
  font-size: x-small;
}
.not p:active {
  filter: blur(2px);
  transition: all 300ms;
}

.container {
  margin-left: 2.3rem !important;
}

.grid {
  margin-top: 2.7rem;
  position: relative;
}
.grid button {
  background-color: rgb(57, 57, 57);
  opacity: 0.9;
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 40px;
  height: 40px;
}
.grid button:hover {
  cursor: pointer;
}
.grid .col {
  margin: 6px 0 6px 0;
  padding: 0;
}

.hidden {
  visibility: hidden;
}

.account_slide {
  width: 100%;
  height: 100%;
}

.account-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-slide span {
  color: whitesmoke;
}
.account-slide span:active {
  filter: blur(2px);
  transition: all 300ms;
}

.payments i {
  margin-left: 11px;
}

.squad i {
  margin-left: 3px;
}

.key i {
  margin-left: 4px;
}

.mail i {
  margin-left: 4px;
}

.trade i {
  margin-left: 6px;
}

.sum-container {
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
}
.sum-container > #sum-input {
  position: absolute;
  background-color: rgb(0, 0, 0);
  height: 14px;
  width: 90px;
  border: none;
  border-radius: 18px;
  z-index: 201;
  color: white;
}
.sum-container > #sum-input:focus {
  border: 1px solid rgb(177, 177, 177);
  transition: 60ms;
  border-radius: 5px;
}

#balance {
  margin-left: 32px;
  padding-bottom: 14px;
  color: white;
  z-index: 201;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
#balance::after {
  content: "₽";
}

#carousel {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#noise {
  display: none;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/img/noise.jpg") fixed;
  background-size: cover;
  background-position: center;
}

#bio_filter {
  display: none;
  opacity: 0.36;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 185, 0);
  background-size: cover;
  background-position: center;
  animation: pulse 1.2s ease-out infinite;
}

#temp_filter {
  display: none;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(255, 166, 0) 0%, rgb(78, 0, 0) 110%);
  background-size: cover;
  background-position: center;
}

#psy_filter {
  display: none;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: radial-gradient(circle, rgb(72, 0, 255) 0%, rgb(255, 230, 0) 110%);
  background-position: center;
}

#accuracy {
  border: 1px solid rgb(216, 53, 68);
  color: rgb(216, 53, 68);
}

#logout {
  width: 100px;
  margin-top: 10px;
}

#health, #rad, #temp, #psy, #bio {
  font-weight: bold;
  margin-left: 6.5em;
  font-size: larger;
}

#rad, #temp, #psy, #bio {
  font-size: large !important;
}

#temp::after {
  margin-left: 2px;
  content: "°";
}

#tasks {
  top: 0;
  margin-top: 0;
  padding-top: 0;
}
#tasks > h4 {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  margin-top: 3px;
}
#tasks > #task p {
  color: rgb(252, 252, 252);
}

#info-modal-content {
  background-color: red;
}

#conn {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  flex-wrap: nowrap;
  width: 100%;
}

#connection {
  color: white;
  position: absolute;
  padding-left: 6em;
  margin-top: 1px;
  font-size: x-small;
  text-decoration: overline;
}

#conn_img {
  margin-left: 2.8em;
  margin-top: 3px;
  position: absolute;
  mix-blend-mode: color-burn;
}/*# sourceMappingURL=style.css.map */